#navbar .logo{
	float:none;
	text-align:center;
}

#navbar ul,
#navbar ul li{
	float:none;
}

#navbar ul li a{
	padding:5px;
	border-bottom: #444 dotted 1px;
}


/* home-info */
#home-info .info-img{
	height: 500px;
	display:none;
}

#home-info .info-content{
	float:none;
	width:100%;
	padding-bottom: 30px;
}

#showcase{
	height:100%;
}

#showcase .showcase-content{
	padding-top:10%;
	padding-bottom:10%;
}

.box{
	float: none;
	width:100%;
}

/* About */
#about-info .info-left,
#about-info .info-right{
	float:none;
	width:100%;
}

#about-info .info-right{
	margin-top:30px;
}

.l-heading{
	text-align:center;
}

/* Contact Section */
#contact-info .box{
	border-bottom:#444 dotted 1px;
}